Data Visuaization BTech Computer Science Stream;
February 2025 Week 4 Lab Exercises-Pandas, Data loading, Storage and File formats
Exercises
Name: Manas Bijalwan;
Reg Number- 240905402; 
Date: 06/02/2025

In [41]:
# Data Visuaization
# BTech Computer Science Stream, February 2025
# Week 1 Lab Exercises- Pandas, Data loading, Storage and File formats Exercises
# Name: Manas Bijalwan, Reg Number- 240905402, Date: 16/01/2025

In [2]:
import pandas as pd

In [3]:
# Q1.
# Create a Series from a list of integers representing daily temperatures (in Celsius) over a week. 
# Assign index labels as day of the week.

#Creating series and printing it
ser_A=pd.Series([23,24,25,28,29,26,35],index=['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday'])
print(ser_A)

Monday       23
Tuesday      24
Wednesday    25
Thursday     28
Friday       29
Saturday     26
Sunday       35
dtype: int64

In [4]:
# a. Find and print the average (mean) temperature for the week.

#Finding mean
var_mean=ser_A.mean()
#Printing mean
print(var_mean)

27.142857142857142

In [17]:
# b. Identify and print the maximum and minimum temperatures and their respective days.

#minimum temperature
day_max=ser_A.idxmax()
print(min(ser_A),"   ",day_min)

#maximum temperature
day_min=ser_A.idxmin()
print(max(ser_A),"   ",day_max)

23     Monday
35     Sunday

In [44]:
 # c. Display the temperatures greater than a specific value.

#Creating Boolean Series and passing it through the series as argument to get the list
specific_value=int(input("Enter Spefic Temperature Value: "))
high_temp_average=ser_A[ser_A>specific_value]

#Printing the list
print(high_temp_average)

Enter Spefic Temperature Value: 34
Sunday    35
dtype: int64

In [7]:
# d. Convert all temperatures to Fahrenheit.

#Converting
ser_Farenheit=ser_A*9/5+32
#Printing
print(ser_Farenheit)

Monday       73.4
Tuesday      75.2
Wednesday    77.0
Thursday     82.4
Friday       84.2
Saturday     78.8
Sunday       95.0
dtype: float64

In [8]:
# e. Print the days had temperatures above the average.

#Getting Series of the days having a greater temperature than average
temp_above_average=ser_A[ser_A>var_mean]
#Print
print(temp_above_average)

Thursday    28
Friday      29
Sunday      35
dtype: int64

In [34]:
#Q2.

# Create a data frame with details of 10 students and columns as Roll Number, Name, Gender, Marks1, Marks2, Marks3.

data = {
    "Roll Number": [101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
    "Name": ["Aarav", "Bhavya", "Charan", "Diya", "Eshaan", "Falguni", "Gopal", "Hina", "Ishaani", "Jiya"],
    "Gender": ["Male", "Female", "Male", "Female", "Male", "Female", "Male", "Female", "Female", "Female"],
    "Marks1": [85, 78, 92, 88, 3, 81, 95, 79, 84, 10],
    "Marks2": [80, 84, 4, 91, 8, 83, 97, 7, 86, 88],
    "Marks3": [12, 8, 94, 87, 79, 82, 96, 81, 11, 92],
}
df = pd.DataFrame(data)

#Printing Data Frame
print(df)

   Roll Number     Name  Gender  Marks1  Marks2  Marks3
0          101    Aarav    Male      85      80      12
1          102   Bhavya  Female      78      84       8
2          103   Charan    Male      92       4      94
3          104     Diya  Female      88      91      87
4          105   Eshaan    Male       3       8      79
5          106  Falguni  Female      81      83      82
6          107    Gopal    Male      95      97      96
7          108     Hina  Female      79       7      81
8          109  Ishaani  Female      84      86      11
9          110     Jiya  Female      10      88      92

In [35]:
# a. Create a new column with total marks

df["Total Marks"] = df["Marks1"] + df["Marks2"] + df["Marks3"]
print(df)

   Roll Number     Name  Gender  Marks1  Marks2  Marks3  Total Marks
0          101    Aarav    Male      85      80      12          177
1          102   Bhavya  Female      78      84       8          170
2          103   Charan    Male      92       4      94          190
3          104     Diya  Female      88      91      87          266
4          105   Eshaan    Male       3       8      79           90
5          106  Falguni  Female      81      83      82          246
6          107    Gopal    Male      95      97      96          288
7          108     Hina  Female      79       7      81          167
8          109  Ishaani  Female      84      86      11          181
9          110     Jiya  Female      10      88      92          190

In [36]:
# b. Find the lowest marks in Marks1

lowest_marks1 = df["Marks1"].min()
#Printing Lowest Marks
print(lowest_marks1)

3

In [37]:
# c. Find the Highest marks in Marks2

#Finding Maximum Marks in Marks2
highest_marks2 = df["Marks2"].max()
#Printing
print(highest_marks2)

97

In [38]:
# d. Find the average marks in Marks3

#Finding average in Marks3
average_marks3 = df["Marks3"].mean()
#Printing the result
print(average_marks3)

64.2

In [39]:
# e. Find student name with highest average

#Finding name with highest average
df["Average Marks"]=df["Total Marks"]/3
var_Topper=df.loc[df["Average Marks"].idxmax(),"Name"]
#Printing the name
print(var_Topper)

Gopal

In [45]:
# f. Find how many students failed in Marks2 (<40)

#Finding the number of students who failed in Marks2
var_failed=(df["Marks2"]<40).sum()
#Printing result
print(var_failed)

3